@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
	--secondary-color-1: hsl(244, 100%, 48%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
html {
	scroll-behavior: smooth;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	color: #fff;
	margin-bottom: 22px;
	text-transform: uppercase;
	cursor: pointer;
}



#our-service {
	background-color: #fefeff;
	background-image: linear-gradient(
45deg
, #bcb3b3, white);
}

#team {
	padding-bottom: 50px;
	background-image: linear-gradient(
		45deg
		, #958D77, white);
}

.toggle {
	position: relative;
	width: 60px;
	height: 60px;
	background: url(https://i.ibb.co/HrfVRcx/menu.png);
	background-repeat: no-repeat;
	background-size: 30px;
	margin-bottom: 22px;
	background-position: center;
	cursor: pointer;
}
.toggle.active {
	background: url(https://i.ibb.co/rt3HybH/close.png);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	cursor: pointer;
}
.showcase {
	position: relative;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #111;
	transition: 0.5s;
	z-index: 2;
}
.showcase.active {
	right: 180px;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2a4958;
	mix-blend-mode: overlay;
}
.text {
	position: relative;
	padding-top: 50px;
	z-index: 10;
}

.text h2 {
	font-size: 5em;
	font-weight: 800;
	margin-top: 52px;
	color: #fff;
	line-height: 1em;
	text-transform: uppercase;
}
.text h3 {
	font-size: 4em;
	font-weight: 700;
	color: #fff;
	line-height: 1em;
	text-transform: uppercase;
}
.text p {
	font-size: 1.1em;
	color: #fff;
	margin: 20px 0;
	font-weight: 400;
	max-width: 700px;
}
.text a {
	display: inline-block;
	font-size: 1em;
	background: #fff;
	padding: 10px 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	color: #111;
	letter-spacing: 2px;
	transition: 0.2s;
}
.text a:hover {
	letter-spacing: 6px;
}
.social {
	position: absolute;
	z-index: 10;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social li {
	list-style: none;
}
.social li a {
	display: inline-block;
	margin-right: 20px;
	filter: invert(1);
	transform: scale(0.5);
	transition: 0.5s;
}
.social li a:hover {
	transform: scale(0.5) translateY(-15px);
}
.menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 180px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu ul {
	position: relative;
}
.menu ul li {
	list-style: none;
}
.menu ul li a {
	text-decoration: none;
	font-size: 24px;
	color: #111;
}
.menu ul li a:hover {
	color: #03a9f4;
}

@media (max-width: 991px) {
	.showcase,
	.showcase header {
		padding: 15px;
	}
	.text h2 {
		font-size: 3em;
	}
	.text h3 {
		font-size: 2em;
	}
}

/* titles */
.title h2 {
	text-align: center;
	text-transform: capitalize;
}
.title span {
	color: var(--secondary-colors);
}

/* section */
.section {
	padding-top: 2rem;
	padding-bottom: 5rem;
	text-align: center;
	text-transform: uppercase;
}

/* ***** Footer *****/  */
footer {
	background-color: #03a9f4;
}
.footer-top {
	position: relative;
	padding: 2px 0;
	padding-top: 50px;
	background-color: #444;
	text-align: left;
	font-size: large;
	color: #a7a7a7;
}
.footer-top h3 {
	padding-bottom: 10px;
	color: #aaa;
}

.footer-about img.logo-footer {
	max-width: 74px;
	margin-top: 0;
	margin-bottom: 18px;
}
.footer-about p a {
	color: #aaa;
    border-bottom: 5px dashed #666;
    text-decoration: none;
}
.footer-about p a:hover,
.footer-about p a:focus {
	color: #fff;
	border-color: #aaa;
}

.footer-contact p {
	word-wrap: break-word;
}
.footer-contact i {
	padding-right: 10px;
	font-size: 18px;
	color: #666;
}
.footer-contact p a {
	color: #aaa;
	border-bottom: 1px dashed #666;
}
.footer-contact p a:hover,
.footer-contact p a:focus {
	color: #fff;
	border-color: #aaa;
}

.footer-social a {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 8px;
	color: #777;
	border: 0;
}
.footer-social a:hover,
.footer-social a:focus {
	color: #aaa;
	border: 0;
}
.footer-social i {
	font-size: 24px;
	vertical-align: middle;
}

.footer-bottom {
	padding: 15px 0;
	background: #444;
	border-top-style: double;
	text-align: left;
	color: #aaa;
}

.footer-copyright p {
	margin: 0;
	padding: 0.5rem 0;
}
.footer-copyright a {
	color: #fff;
	border: 0;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
	color: #aaa;
	border: 0;
}

/* footer navbar */
.navbar {
	padding: 0;
	background: #444;
	backface-visibility: hidden;
}

.navbar-dark .navbar-nav {
	font-size: 15px;
	color: #fff;
	font-weight: 400;
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	border: 0;
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: #aaa;
}
.navbar-dark .navbar-nav .nav-link:focus {
	color: #aaa;
	outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding-left: 1rem;
	padding-right: 1rem;
}
