<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Book A Rider</title>

		<!-- CSS -->

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>

		<!-- Font Awesome -->
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
			integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
			crossorigin="anonymous"
		/>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="src\Styles\CSS\dashboard.css" />
	</head>
	<body>
		<header class="background_effect">
			<!-- <div class="video_container">
				<video muted  loop>
					<source src="../assets/video.mp4" type="video/mp4" />
				</video>
			</div> -->

			<!-- Nav Bar -->
			<nav
				id=""
				class="
					navbar navbar-expand
					bg-dark
					navbar-dark
					py-1
					fixed-top
					bg-gradient
				"
			>
				<div class="nav_center container-fluid">
					<a href="#hero" class="navbar-brand"
						><h3><span class="text-warning mb-0 h4">Delivery Man</span></h3></a
					>
					<div class="navbar-collapse collapse">
						<ul class="navbar-nav ms-auto h6">
							<li class="nav-item">
								<a href="/users/userprofile/<%= userID %>" class="nav-link"
									>User Profile</a
								>
							</li>
							<li class="nav-item">
								<a href="/users/logout" class="nav-link text-warning">Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- user and total orders made and pending-->

			<section class="p-1 text-center container-fluid">
				<div id="" class="">
					<p class="lead mb-4 fw-bold badge bg-secondary text-wrap display_username">Welcome <%= username %></p>
				</div>

				<div>
					<div class="row ">
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title"> Orders Made</h5>
									<p class="card-text">
										<span class="badge badge-primary">
											<!--  totalOrders -->
											20
										</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title"> Orders Pending</h5>
									<p class="card-text">
										<span class="badge badge-primary">
											<!--  pendingOrders -->
											1
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</section>

			<!-- Book and Order history -->
			<section class="mt-5 mb-5">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col">
							<p>order history</p>
						</div>
						<div class="col-6">
							<p>order form</p>
						</div>
					</div>
				</div>
			</section>
			

			<section class="main_section">
				<div class="main_section_wrapper main_center">
					<!-- About us section -->
					
					<!-- Form Section -->
					<div id="form_section">
						<h1 class="header_style">Book A Delivery</h1>
						<form action="https://formspree.io/f/mknpajzq" method="POST">
							<div class="row">
								<div class="form_group">
									<label class="label" for="">Name</label>

									<input
										class="input_field"
										type="text"
										name="Name"
										placeholder="Enter your name"
										required
									/>
								</div>
								<div class="form_group">
									<label class="label" for="">Email</label>

									<input
										class="input_field"
										type="text"
										name="Email"
										placeholder="Enter your phone email"
									/>
								</div>
							</div>
							<div class="form_group">
								<label class="label" for="">Phone Number</label>

								<input
									class="input_field"
									type="tel"
									name="Phone_number"
									placeholder="Enter your phone number"
									required
								/>
							</div>

							<div class="form_group">
								<label class="label" for="">Pickup location</label> <br />
								<input
									class="input_field"
									type="text"
									name="Pickup_Location"
									placeholder=""
									required
								/>
							</div>
							<div class="form_group">
								<label class="label" for="">Destination</label> <br />
								<input
									class="input_field"
									type="text"
									name="Destination"
									placeholder=""
									required
								/>
							</div>

							<div class="form_group">
								<label class="label" for="">Pickup Date/Time</label> <br />
								<input
									class="input_field"
									type="datetime-local"
									name="Pick_up_date"
									id="pick_date"
									value="01-12-2020"
									min="01-01-2020"
								/>
							</div>
							<div class="form_group">
								<label class="label" for="text-area"
									>Additional Information</label
								>

								<textarea
									class="text_area"
									name="Additional Information"
									id="text-area"
									cols="30"
									rows="10"
									placeholder="Enter More Information about delivery"
								></textarea>
							</div>

							<div class="btn">
								<button class="sub_btn" type="submit">BOOK NOW</button>
							</div>
						</form>
					</div>
				</div>
			</section>
		</header>
		<!-- Contact Section
		<section class="contact_section">
			<div id="contact">
				<h1 class="header_style">contact us</h1>
			</div>
		</section> -->

		<!-- Footer Section -->
		<footer id="footer">
			<div class="footer_top">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-lg-4 footer_about">
							<img
								class="logo_footer"
								src=""
								alt="logo-footer"
								data-at2x="assets/img/logo.png"
							/>
							<p>We are a young company.</p>
						</div>
						<div class="col-md-4 col-lg-4 offset-lg-1 footer_contact">
							<h3>Contact</h3>
							<p><i class="fas fa-map-marker-alt"></i> Via Lagos Nigeria</p>
							<p><i class="fas fa-phone"></i> Phone: (+234) 333 12 68 347</p>
							<p>
								<i class="fas fa-envelope"></i> Email:
								<a href="mailto:hello@domain.com">hello@domain.com</a>
							</p>
							<!-- <p><i class="fab fa-skype"></i> Skype: you_online</p> -->
						</div>
						<div class="col-md-4 col-lg-3 footer_social">
							<h3>Follow us</h3>
							<p>
								<a href="#"><i class="fab fa-facebook"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-instagram"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-5 footer-copyright">
							<p>
								Copyright &copy;
								<script type="text/javascript">
									document.write(new Date().getFullYear());
								</script>
								; Designed By DCN
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- Scripts -->

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
	</body>
	<!-- Footer Section -->
</html>
