@media screen and (min-width: 992px) {
	.main_center {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		align-items: center;
		column-gap: 4rem;
	}
	#info_about_us {
		grid-column: 1 / span 5;
		margin-bottom: 0;
	}
	#form_section {
		grid-column: 6 / -1;
	}
}

@media screen and (min-width: 992px) {
	.main_section_wrapper {
		width: 95vw;
	}
}

@media screen and (min-width: 800px) {
	nav {
		background: transparent;
	}
	.nav-center {
		width: 90vw;
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.nav-header {
		padding: 0;
	}
	.nav-toggle {
		display: none;
	}
	.links_container {
		height: auto !important;
	}
	.links {
		display: flex;
	}
	.links a {
		background: transparent;
		color: var(--clr-white);
		font-size: 1.1rem;
		text-transform: capitalize;
		letter-spacing: var(--spacing);
		display: block;
		transition: var(--transition);
		margin: 0 1rem;
		font-weight: bold;
		padding: 0;
	}
	.links a:hover {
		color: var(--clr-white);
	}
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.section-1-box .section-1-box-icon {
		width: 60px;
		height: 60px;
		font-size: 32px;
		line-height: 60px;
	}

	.footer-top {
		padding: 40px 0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.inner-bg {
		padding: 180px 0;
	}

	.section-description p {
		padding: 0;
	}

	.section-1-box .section-1-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

	.section-3-box .section-3-box-icon {
		width: 50px;
		height: 50px;
		font-size: 26px;
		line-height: 50px;
	}

	.footer-top {
		padding: 40px 0;
	}
	.footer-contact i {
		padding-right: 5px;
	}
}

@media (max-width: 767px) {
	.inner-bg {
		padding: 100px 0 80px 0;
	}

	.section-description p {
		padding: 0;
	}

	.section-1-container {
		padding-bottom: 60px;
	}
	.section-1-box {
		text-align: center;
	}
	.section-1-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

	.section-3-box {
		text-align: center;
	}
	.section-3-box h3 {
		margin-top: 20px;
		padding-top: 10px;
	}

	.footer-top {
		padding: 40px 0;
		text-align: center;
	}
	.footer-contact i {
		padding-right: 5px;
	}
	.footer-bottom,
	.footer-social {
		text-align: center;
	}
	.footer-social a {
		margin: 0 10px;
	}
}

@media (max-width: 415px) {
	h1,
	h2 {
		font-size: 32px;
	}
}
